@media (max-width: 600px) {
.lower-tier-section-res{
  height: 200px;
}
.lower-tier-section-inner-res{
  width: 90%;
}
  .lower-tier-img-res{
    height: 30px;
    width: 30px;
  }

}

@media (min-width: 320px) and (max-width: 599px) {
.lower-tier-section-res{
  height: 250px;
}
.lower-tier-section-inner-res{
  width: 90%;
}
  .lower-tier-img-res{
    height: 30px;
    width: 30px;
  }

}

@media  (min-width: 601px) and (max-width: 1024px) {
  .lower-tier-section-inner-res{
    gap: 20px;
  }
.lower-tier-section-res{
  display: flex;
  gap: 10px;
  height: 250px;
}
.lower-tier-section-inner-res{
  width: 90%;
}
  .lower-tier-img-res{
    height: 40px;
    width: 40px;
  }
  .lower-tier-text-res{
    font-size: 26px;
  }
  .custom-text-green-new{
    font-size: 18px;
  }

}