@import "../../values/fonts";

.card-text-res{
  font-size: 3em;
  @include font_Gridular_Regular;
}

@media (max-width: 600px) {

  .card-res{
    flex-direction: column;

  }
  .card-text-res{
    font-size: 16px;
  }
  .buttons{
    justify-content: center;
  }
.card-img-res{
  height: 300px;
}
}
@media (min-width: 320px) and (max-width: 599px) {

  .card-res{
    flex-direction: column;

  }
  .card-text-res{
    font-size: 14px;
  }
  .buttons{
    justify-content: center;
  }
.card-img-res{
  height: 300px;
}
}